@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: url("..//resources/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #040711;
  color: #f9fafb;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 8% 20px;
}

.logo {
  display: block;
  margin: 0 auto;

  @media (width <= 1024px) {
    margin-bottom: 40px;
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (width <= 1024px) {
    flex-wrap: wrap;
  }
}

section {
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #121826cc;
  padding: 20px;
  margin-block: 40px;
  border: 1px solid #4d5562;
  border-radius: 16px;

  @media (width <= 1024px) {
    width: 80%;
    margin-block: 0;
  }

  @media (width <= 640px) {
    width: 100%;
    margin-block: 0;
  }
}

section > div:first-of-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #d2d5da;
}

section > div:first-of-type > div {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 0.875rem;
  padding: 5px 0 20px;
}

span {
  position: relative;
  display: flex;
  padding: 8px 12px;
  margin-inline: 5px;
  border-radius: 12px;
  cursor: pointer;
}

section > div:first-of-type div > img {
  position: absolute;
  right: 0;
  padding: 4px;
  margin: 0;
}

.selected {
  background-color: #4d5562;
}

#chooseLanguage {
  all: unset;
}

#chooseLanguage > option {
  color: #d2d5da;
  background-color: #040711;
  font-size: 0.75rem;
}

hr {
  width: 100%;
  height: 0.5px;
  background-color: #4d5562;
  border: none;
}

form {
  width: 100%;
  flex: 1;
}

section > form textarea {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #f9fafb;
  padding-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  word-break: break-all;
}

section > p {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: normal;
  color: #d2d5da;
  margin-block: 10px;
}

section > div:last-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > div:last-of-type div {
  display: flex;
}

.icons {
  padding: 7px;
  margin-inline: 5px;
  border: 2px solid #4d5562;
  border-radius: 12px;
  cursor: pointer;
}

.translate-button {
  background-color: #263fa9;
  padding: 12px 20px;
  border: 1px solid #7ca9f3;
  border-radius: 12px;
  cursor: pointer;
}
